# Pycharm
.idea
**/**/__pycache__
**/**/.DS_STORE
.DS_STORE

# VSCode
.vscode

# Virtual environment
.venv
venv
.env

# Local test only
local_python.py
local_script.sh
local_kafka.py

# Pytest
pytest.ini
**/**/.pytest_cache

# Log
**/**.log

# Local properties file
datamimic_ce/local.env.properties

# Built package
dist
*.egg-info
build

# Sonarqube
.scannerwork

# Integration test
tests_ce/integration_tests/consumer_csv/data

# SQLite
*.sqlite

# Rust
src/bin
target
Cargo.lock

# Local kafka
**/.tmp
**/**.pem

# Functional test
tests_ce/functional_tests/test_external_source/conf/

# Exported data
**/exported_data/

# UV
uv.lock

#datamimic
datamimic.log
datamimic.log.*
exported_data/

# Temporary result files
**/**/temp_result*

# Exporter files result
**/**/exporter_result*

# Test artifacts
test_artifacts/

# Environment configuration

/data/
/tests_ce/test-artifacts/
/db/
/.run/
/tests_ce/db/
**/output/
.coverage.*
.coverage

.cursor
/.coveragerc
